@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  --color-bg: #fff;
  --color-fg: #333;
  --color-anim: #f00;
  --color-anim-light: #ddd;
  --color-border: #aaa;
  --border-width: 4px;
}

[data-theme="dark"] {
  --color-bg: #111;
  --color-fg: #eee;
  --color-anim: #f00;
  --color-anim-light: #666;
  --color-border: #444;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  cursor: none;
}

html,
body {
  /* height: 100%; */
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

body {
  width: 100%;
  font-family: "Crimson Text", Crimson, Garamond, Georgia, Times, serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  color: var(--color-fg);
  background: var(--color-bg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  font-size: 1.8rem;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

a {
  color: var(--color-anim);
  text-decoration: none;
}

p {
  /* max-width: 66ch; */
  /* margin: 1.62em 0; */
  margin: 0;
  text-indent: 1.62em;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

p + p {
  margin: 1.62em 0 0;
}

.menu {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  outline: none;
  text-align: center;
  width: 3em;
  height: 3em;
}

.container {
  width: 100%;
  max-width: 66ch;
  margin: 0 auto;
  padding: 0 3em;
}

.meta,
.title {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: var(--color-bg);
}

.show {
  display: flex;
  justify-content: safe center;
  align-items: safe center;
}

.title {
  z-index: 100;
  width: 100%;
  padding: 0 3em;
}

.meta {
  z-index: 90;
  overflow-y: scroll;

  .meta__container {
    max-width: 66ch;
    color: var(--color-fg);
    margin: auto;
    padding: 0 3em;
  }

  .meta__titre {
    max-width: 66ch;
    border: var(--border-width) solid var(--color-fg);
    border-radius: 0;
    text-align: center;
    font-size: 1em;
    padding: 1em;
    margin: 1em 0;
  }

  .meta__contenu {
    max-width: 66ch;
    border: var(--border-width) solid var(--color-fg);
    border-radius: 0;
    margin: 1em 0;
    padding: 1em;
  }
}

.title__container {
  height: calc(100vh - 2em);
  height: calc(calc(var(--vh, 1vh) * 100) - 2em);
  width: 100%;
  max-width: calc(66ch - 6em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--color-fg);
  border: var(--border-width) solid var(--color-fg);
  border-radius: 0;
  position: relative;
}

.title__link {
  cursor: none;
  text-decoration: none;
  text-align: center;
  padding: 0.3em;
  margin: 1em;
  color: var(--color-fg);
  border: var(--border-width) solid var(--color-fg);
  border-radius: 0;
}

.title__link:hover,
.title__link:focus,
.title__link:active {
  border: var(--border-width) solid var(--color-anim);
  border-radius: 0;
}

.title__info {
  position: absolute;
  bottom: 0;
}

@media (max-width: 55em) and (orientation: landscape) {
  .title__link {
    margin: 0.5em 0;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: none;
  outline: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

/* Modifications spécifiques */
.pese-nerfs .pese-nerfs__titre {
  height: 100%;
  min-height: calc(100vh - 4em);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 4em);

  .texte__contenu {
    text-indent: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    padding: 0em;
  }
}

.texte {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: calc(100vh - 2em);
  min-height: calc(calc(var(--vh, 1vh) * 100) - 2em);
  background: var(--color-bg);
  margin: 2em 0;
  color: var(--color-fg);
  box-shadow: 0px 0px 20px var(--color-anim-light);

  &__contenu {
  padding: 2em;
  text-indent: 2em;
  }
}

.mot {
  &:hover {
    background-color: var(--color-bg);
    color: var(--color-bg);
  }

  &.redacted {
    background-color: var(--color-bg);
    color: var(--color-anim);
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  background: var(--color-fg);
  transition: all 0.4s linear;
  transition-property: background, transform;

  &--main {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 1001;
    opacity: 1;
  }

  &--bg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 1000;
    opacity: 0.5;
  }

  &--interact {
    transform: translate(-50%, -50%) scale(1.5);
    background: var(--color-anim);
    opacity: 0.8;
  }

  &--interact-bg {
    transform: translate(-50%, -50%) scale(1.5);
    background: var(--color-anim);
    opacity: 0.3;
  }

  &--click {
    transform: translate(-50%, -50%) scale(2);
  }
}

@media (hover: none) and (pointer: coarse) {
  .cursor {
    display: none;
  }
}

.interface {
  z-index: 110;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: calc(38vh + 70px);
  width: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  z-index: 110;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  position: fixed;
  /* height: 30px; */
  margin: 0.4em;
  width: 2em;
  height: 2em;
  padding-top: 0.2em;
  border: var(--border-width) solid var(--color-fg);
  border-radius: 0;
  outline: none;
  transition: transform 0.5s linear;
  color: var(--color-fg);
  background: var(--color-bg);
}

.btn:hover,
.btn:focus,
.btn:active {
  outline: none;
  transform: rotate(360deg);
  transform-origin: center center;
  color: var(--color-anim);
}

.btn--composition {
  top: 0;
  left: 0;
}

.btn--dark {
  top: 0;
  right: 0;
}

.btn--shuffle {
  bottom: 0;
  left: 0;
}

.btn--menu {
  bottom: 0;
  right: 0;
}

.btn--anim {
  color: var(--color-anim);
}

.cosmogonie {
  margin: 1em 0;
}

.cosmogonie__titre {
  font-size: 1em;
  border: var(--border-width) solid var(--color-fg);
  border-radius: 0;
  margin: 1em 0;
  padding: 1em;
  text-align: center;
  display: block;
  width: 100%;
}

.cosmogonie__titre:hover,
.cosmogonie__titre:focus,
.cosmogonie__titre:active {
  outline: none;
  border: var(--border-width) solid var(--color-anim);
  border-radius: 0;
}

.cosmogonie__contenu {
  display: none;
  border: var(--border-width) solid var(--color-fg);
  border-radius: 0;
  padding: 1em;
}


.cosmogonie__contenu--show {
  display: block;
  border: var(--border-width) solid var(--color-fg);
  border-radius: 0;
}
